@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body {      
    font-family: 'poppins' sans-serif;    
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.grande-container {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header {
    position: relative;
    z-index: 70;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo .imagem-logo {
    width: 40px;
    height: auto;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

.logo h3 {
    color: var(--darkTwo); 
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.links ul {
    display: flex;
    list-style: none;  
    align-items: center;  
        
}

.links a{
    display: inline-block;
    margin-left: 4.5rem;    
    transition: 0.3s;
    color: var(--lightTwo);
}

.links a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    
}

.btn:hover {
    background: var(--hoverColor);
    transform: scale(1) !important;
}

.corpo .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}


.grande-titulo {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

p {
    color: var(--lightTwo);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;   
    line-height: 2.3;
}

.imagem {
    width: 123%;
    transform: translate(15%, 25px);
}

button {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
    border: none;
    margin-top: 5rem;
    font-size: 1rem;
    cursor: pointer;
}